/* global */

html {
  font-size: 16px;
}

h2, p, h4, a {
  font-family: helvetica;
}



div {
  border: 1px solid black;
}

/* header */

header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  display: flex;
  align-items: center;
  height: 2.5rem;
}

header .logo img {
  padding-left: 1.5rem;
}

.colmar {
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
}

.academy {
  color: darkgrey;
  font-size: 1.5rem;
}

nav {
  padding-right: 1.5rem;
}

nav ul {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

li .spacer {
  background-color: lightblue;
  height: 4rem;
  width: 1rem;
}

header span {
  font-family: helvetica;
}

/* first section */

.first {
  display: flex;
  background-color: lightgrey;
}

.first .left {
  width: 60%;
  display: flex;
}

.first .left .image-container {
  max-width: 100%;
  height: auto;
  padding: 2rem 1.5rem;
}

.first .left .image-container img {
  width: 100%;
  height: auto;
}

.first .right {
  width: 40%;
  display: flex;
}

.first .right .words {

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first .right .words h2 {
  font-size: 3rem;
  font-weight: bold;
}

.first .right .words p {
  font-size: 2rem;
  padding: 2rem 0rem;
}

.first .right .words .button {
  background-color: grey;
  color: white;
  text-align: center;
  padding: .5rem 0rem;
}

/* second section */

.second {
  display: flex;
}

.second .left {
  width: 60%;
  display: flex;
  flex-direction: column;
}



.second .left .image-container {
  max-width: 100%;
  height: auto;
  padding: 2rem 1.5rem;
}

.second .left .image-container img {
  width: 100%;
  height: auto;
}

.second .left .image-text {
  display: flex;
  flex-direction: column;
  padding: 0rem 1.5rem 2rem 1.5rem;
}

.second .left .image-text h2 {
  font-size: 3rem;
  font-weight: bold;
}

.second .left .image-text p {
  font-size: .9rem;
  padding-top: 1.5rem;
}

.second .right {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.second .right .article {
  display: flex;
}

.second .right .article .image-container {
  padding: 1rem;
  max-width: 35%;
  display: block;

}

.second .right .article .image-container img {
  width: 100%;
  height: auto;
}

.second .right .article .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;

}

.second .right .article .info h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

.second .right .article .info p {
  font-size: 1rem;
  padding: .5rem 0rem;
}

/* third section */

.third {
  background-color: lightgrey;
}

.third .heading {
  font-size: 3rem;
  font-weight: bold;
  color: black;
  padding: 2rem 0rem;
  text-align: center;
}

.third .courses {
  display: flex;
  justify-content: center;
}

.third .courses .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


}

.third .courses .container .box {
  display: flex;
  flex-direction: column;
  width: 25%;

  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
}

.third .courses .container .box .top {
  display: block;
  background-color: white;
}

.third .courses .container .box .top img {
  width: 100%;
  height: auto;
  padding: 0rem;
  margin: auto 0;
}

.third .courses .container .box .bottom {
  background-color: white;
  height: 100%;
}

.third .courses .container .box .bottom h4 {
  color: black;
  font-size: 2rem;
  font-weight: bold;
  padding-left: 1rem;
  padding-top: 1rem;
}

.third .courses .container .box .bottom p {
  color: grey;
  font-size: 1rem;
  padding-left: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
